.bt{
    position: absolute;
    top: 600px;
    left: 300px;
    right: 200px;
    height: 180px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 20px;
}
.bnt1,.bnt2,.bnt3,.bnt4,.bnt5,.bnt6,.bnt7,.bnt8,.bnt9,.bnt10,
.bnt11,.bnt12,.bnt13,.bnt14,.bnt15,.bnt16,.bnt17,.bnt18,.bnt19,.bnt20{
    border-radius: 5px;
    background:azure;
    height: 50px;
    width: 100px;
    cursor: pointer;
    font-size: large;
    color: black;
    outline: none;
}
.bnt1{
    position: absolute;
    left: 100px;
    right: 100px;
    top: 20px;
}
.bnt1:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt2{
    position: absolute;
    left: 220px;
    right: 100px;
    top: 20px;
}
.bnt2:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt3{
    position: absolute;
    left: 340px;
    right: 100px;
    top: 20px;
}
.bnt3:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt4{
    position: absolute;
    left: 460px;
    right: 100px;
    top: 20px;
}
.bnt4:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt5{
    position: absolute;
    left: 580px;
    right: 100px;
    top: 20px;
}
.bnt5:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt6{
    position: absolute;
    left: 700px;
    right: 100px;
    top: 20px;
}
.bnt6:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt7{
    position: absolute;
    left: 820px;
    right: 100px;
    top: 20px;
}
.bnt7:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt8{
    position: absolute;
    left: 940px;
    right: 100px;
    top: 20px;
}
.bnt8:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt9{
    position: absolute;
    left: 1060px;
    right: 100px;
    top: 20px;
}
.bnt9:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt10{
    position: absolute;
    left: 1180px;
    right: 100px;
    top: 20px;

}
.bnt10:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt11{
    position: absolute;
    left: 100px;
    right: 100px;
    top: 90px;
}
.bnt11:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt12{
    position: absolute;
    left: 220px;
    right: 100px;
    top: 90px;
}
.bnt12:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt13{
    position: absolute;
    left: 340px;
    right: 100px;
    top: 90px;
}
.bnt13:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt14{
    position: absolute;
    left: 460px;
    right: 100px;
    top: 90px;
}
.bnt14:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt15{
    position: absolute;
    left: 580px;
    right: 100px;
    top: 90px;
}
.bnt15:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt16{
    position: absolute;
    left: 700px;
    right: 100px;
    top: 90px;
}
.bnt16:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt17{
    position: absolute;
    left: 820px;
    right: 100px;
    top: 90px;
}
.bnt17:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt18{
    position: absolute;
    left: 940px;
    right: 100px;
    top: 90px;
}
.bnt18:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt19{
    position: absolute;
    left: 1060px;
    right: 100px;
    top: 90px;
}
.bnt19:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.bnt20{
    position: absolute;
    left: 1180px;
    right: 100px;
    top: 90px;
}
.bnt20:hover{   
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.btn{
    height: 30px;
    cursor: pointer;
    background: black;
    font-size: large;
    color: white;
}

.biaoqian{
    font-size: 15px;
}
.biaoqian:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #4285f4;
    transition: all .3s;
}

.biaoqian:hover:before {
    width: 100%;
    left: 0;
    right: 0;
}